<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>店员管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telphone=no, email=no" />
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="browsermode" content="application">
	<meta name="x5-page-mode" content="app">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" type="text/css" href="css/weui.min.css">
	<link rel="stylesheet" href="js/dropload.css">
	<link rel="stylesheet" href="css/clerk_management.css" />
	<script type="text/javascript" src="js/template.js"></script>
	<script type="text/javascript" src="js/director.min.js"></script>
	
</head>
<body class="bg_efe">
	<div id="content"></div>

	<!-- 店员管理首页 -->
	<script id="js-clerk_list" type="text/html">
		{{if clerkNotNull}}
		<div class="date-select">
			<label class="lbl">时间:</label>
			<select class="select">
				{{ each time as item i }}
				<option value="{{item.value}}">{{item.text}}</option>
				{{/each}}
			</select>
		</div>
		{{ each section as group i }}
			<div class="list-title"></div>
			{{ if group.eleId }}
			<ul id="list" class="list user_list">
			{{ else }}
			<ul class="list user_list">
			{{ /if}}
			    {{each group.list as entry i}}
					<li class="item">
						<div class="btn_edit list_item_edit" data-id="{{i}}">编辑资料</div>
						<div class="btn_del list_item_del">删除</div>
						<a href="#/details" class="clerk-item">
							<span class="name">{{ entry.name }}</span>
							<p class="item-bottom">
								<span class="order_num icons">{{ entry.order_num }}笔</span>
								<span class="money_num icons">{{ entry.money_num }}元</span>
							</p>
						</a>
					</li>
			    {{/each}}
			</ul>
	    {{/each}}
	    <div class="btn_group tc btn_group_bottom">
			<a class="btn btn-single" href="#/add">添加店员</a>
		</div>
	    {{else}}
	    <div class="tc">
	    	<img class="img-null" src="img/img-null.png">
	    	<p class="clerk-null-txt">您还没有添加店员喔，现在去添加吧！</p>
	    	<div class="btn_group">
	    		<a href="#/add" class="btn btn_save">马上添加店员</a>
	    	</div>
	    </div>
	    {{/if}}
	    <div class="warm-tips">
	    	<i class="warm-tips-txt">扫描店长的桌牌进行支付，店员收不到消息的</i>
	    	<i class="icons ico-bulbs"></i>
    	</div>
			<!-- <a id="js_add_user" class="add_user" href="javascript:;">添加店员</a> -->
	</script>

	<!-- 店员详情－顶部 -->
	<script id="js-clerk_details_top" type="text/html">
		<ul class="list user_list user_list_details">
			<li class="item">
				<a href="javascript:;">
					<span class="name">{{ entry.name }}</span>
					<p class="item-bottom">
						<span class="order_num icons">{{ entry.order_num }}笔</span>
						<span class="money_num icons">{{ entry.money_num }}元</span>
					</p>
					<span id="js-ico-setup" class="ico-setup"></span>
				</a>
			</li>
	    </ul>
	</script>
	<!-- 店员详情－交易流水 -->
	<script id="js-clerk_details_list" type="text/html">
		{{each main as entry i}}
			<div class="listview clerk-details-list">
				<div class="mon">
					<p class="time">{{ entry.date }}</p>
					<p>实收金额：<span class="font-num">¥{{ entry.num1 }}</span></p>
				</div>
				{{each main[i].details as item}}
					<div class="list-item">
						<div class="l">
							<div class="l-name">[当面付]订单金额¥{{ item.num2 }}，商家优惠¥{{ item.num3 }}</div>
							<div class="l-time">
								<p>{{ item.time }}</p>
							</div>
						</div>
						<div class="r">¥{{ item.num4 }}</div>	
					</div>
				{{/each}}
			</div>
		{{/each}}
   		<div id="navigation"><a href="mockdata.json?page=1"></a></div>
	</script>

	<!-- 店员详情 -->
	<script id="js-clerk_details" type="text/html">
		{{include 'js-clerk_details_top'}}
		{{include 'js-weui-actionSheet'}}
		<div id="masonny-div">
			{{include 'js-clerk_details_list'}}
		</div>
	</script>

	<!-- 新增店员 -->
	<script id="js-add-clerk" type="text/html">
		<form action="">
			<ul class="add_user_form">
				{{each main as item i}}
					<li>
						<label>{{if item.isRequire}}<i>*</i>{{/if}}{{item.label}}:</label>
						{{if item.isPwd}}
							<input id="txt_pwd" type="{{item.type}}" placeholder="{{item.placeholder}}" class="input_s1"><span id="ico_pwd_display" class="ico_pwd_display"></span>							
						{{else}}
							<input {{if item.isReadonly }}readonly{{/if}} type="{{item.type}}" placeholder="{{item.placeholder}}" class="input_s1" value="{{item.value}}">
						{{/if}}
					</li>
	            {{/each}}
	        </ul>
	        <p class="tip">
	        	<span class="tip_error">错误信息</span>
				<span id="ico_bulb" class="ico_bulb"></span>
	        </p>
	     	<div class="btn_group">
				<a href="#/list" class="btn btn_save">保存</a>
			</div>
		</form>
	</script>

	<!-- 修改店员信息 -->
	<script id="js-edit-list" type="text/html">
		<ul class="list edit-list">
			<li>
				<a href="#/modifyPwd">修改密码</a>
			</li>
			<li>
				{{if isBound}}
					<a href="">查看桌牌<span class="bound">已绑定</span></a>
					{{else}}
					<a href="#/bindCard">绑定桌牌</a>
				{{/if}}
			</li>
		</ul>
	</script>

	<!-- 绑定桌牌 -->
	<script id="js-bind-card" type="text/html">
		<div class="bind-card">
			<div class="form-item">
				<label class="form-lbl">绑定桌牌:</label>
				<input class="form-txt" type="text" placeholder="请输入您要绑定的桌牌上的商户号">
			</div>
			<div class="tips">
				<i class="ico-tips icons"></i>
				<i class="tips-txt">每个商户号只能绑定一个帐号（请勿使用店主帐号所绑定的桌牌进行重复绑定）</i>
			</div>
			<div class="btn_group">
				<a href="#/list" class="btn btn_save">保存</a>
			</div>
		</div>
	</script>

	<!-- 修改密码 -->
	<script id="js-modify-pwd" type="text/html">
		{{include 'js-add-clerk'}}
	</script>

	<script id="js-weui-actionSheet" type="text/html">
		<div id="actionSheet_wrap">
		    <div class="weui_mask_transition" id="mask"></div>
		    <div class="weui_actionsheet" id="weui_actionsheet">
		        <div class="weui_actionsheet_menu">
		            <a href="#/editList" class="weui_actionsheet_cell">编辑店员信息</a>
		            <div id="js-del-clerk" class="weui_actionsheet_cell">删除成员</div>
		        </div>
		        <div class="weui_actionsheet_action">
		            <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
		        </div>
		    </div>
		</div>
	</script>
	<div class="loading"></div>
	<div id="js_muck" class="layer">
		<div class="tipbox">
			<div class="ico-header"> <img src="img/userpho.png" class="userpho"> </div>
			<button id="js_closeMsg" class="bg_icon1 close"></button>
			<div class="clear"></div>
			<h1 class="tip-name">报告老板</h1>
			<div class="bg_icon1 coner"></div>
			<p class="p" id="msg">消息内容</p>
			<div id="single_btn" class="single_btn">
				<button class="btn btn-normal"></button>
			</div>
			<div id="double_btn" class="double_btn">
				<button id="js_del" class="btn btn-cancel" onclick="hideMsg()">确认</button>
				<button class="btn btn-ok" onclick="hideMsg()">取消</button>
			</div>
			
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/etouch1.0.js"></script>
	<script type="text/javascript" src="js/jquery-infinite-scroll/jquery.infinitescroll.js"></script>
	<script type="text/javascript" src="js/clerk.js"></script>
	<script type="text/javascript">
		// 店员管理首页
		var clerk_list_data = {
			clerkNotNull: true,
			time: [
				{
					text: '今日',
					value: new Date()
				},
				{
					text: '最近7日',
					value: ''
				},
				{
					text: '最近30日',
					value: ''
				}
			],
			section: [
				{
			    		title: '店员',
			    		eleId: true,
			    		list: [
				    		{
				    			name: '王二',
				    			order_num: 23,
				    			money_num: 232.22,
				    			isBound: true
				    		},
				    		{
				    			name: '风清扬',
				    			order_num: 13,
				    			money_num: 12.02,
				    			isBound: false
				    		} 
			    		],
				},
				{
		    		title: '其他',
		    		eleId: false,
		    		list: [
			    		{
			    			name: '店长订单',
			    			order_num: 20,
			    			money_num: 152.22
			    		},
			    		{
			    			name: '微信店铺订单',
			    			order_num: 43,
			    			money_num: 212.02	
			    		} 
		    		]
		    	}
			]
		    // main: [
		    // 	{
		    // 		title: '店员',
		    // 		eleId: true,
		    // 		clerk_list: [
			   //  		{
			   //  			name: '王二',
			   //  			order_num: 23,
			   //  			money_num: 232.22,
			   //  			isBound: true
			   //  		},
			   //  		{
			   //  			name: '风清扬',
			   //  			order_num: 13,
			   //  			money_num: 12.02,
			   //  			isBound: false
			   //  		} 
		    // 		],
		    // 	},
		    // 	{
		    // 		title: '其他',
		    // 		eleId: false,
		    // 		clerk_list: [
			   //  		{
			   //  			name: '店长订单',
			   //  			order_num: 20,
			   //  			money_num: 152.22
			   //  		},
			   //  		{
			   //  			name: '微信店铺订单',
			   //  			order_num: 43,
			   //  			money_num: 212.02	
			   //  		} 
		    // 		]
		    // 	}
		    // ]
		};
		var clerk_list_html = template('js-clerk_list', clerk_list_data);

		// 店员详情
		var clerk_details_data = {
			entry: {
				name: '王二',
				order_num: '12',
				money_num: '123'
			},
			main: [
				{
					date: '2016年03月12日',
					num1: '232', //金额总数
					details: [
						{
							num1: '232', //金额总数
							num2: '25', //订单金额
							num3: '0.4', //商家优惠
							num4: '123', //实收金额
							time: '14:42:23'
						},
						{
							num1: '333', //金额总数
							num2: '15', //订单金额
							num3: '0.14', //商家优惠
							num4: '113', //实收金额
							time: '14:32:23'
						}
					]
				},
				{
					date: '2016年03月11日',
					num1: '132', //金额总数
					details: [
						{
							num1: '132', //金额总数
							num2: '15', //订单金额
							num3: '10.4', //商家优惠
							num4: '233', //实收金额
							time: '10:42:23'
						},
						{
							num1: '333', //金额总数
							num2: '15', //订单金额
							num3: '0.14', //商家优惠
							num4: '443', //实收金额
							time: '14:32:23'
						}
					]
				},
				{
					date: '2016年03月10日',
					num1: '132', //金额总数
					details: [
						{
							num1: '333', //金额总数
							num2: '15', //订单金额
							num3: '0.14', //商家优惠
							num4: '443', //实收金额
							time: '14:32:23'
						}
					]
				}
			]
		};
		var clerk_details_html = template('js-clerk_details', clerk_details_data);
		
		// 新增店员帐号
		var clerk_entry_data = {
			main: [
				{
					label: '店员',
					type: 'text',
					placeholder: '姓名',
					isRequire: true //必填
				},
				{
					label: '帐号',
					type: 'tel',
					placeholder: '请输入店员的手机号',
					isRequire: true
				},
				{
					label: '密码',
					type: 'password',
					placeholder: '请输入密码',
					isRequire: true,
					isPwd: true
				},
				{
					label: '商户号',
					type: 'tel',
					placeholder: '请输入商户号（非必填）',
					isRequire: false
				}
			]
		}
		var add_clerk_html = template('js-add-clerk', clerk_entry_data);

		

		//绑定桌牌
		var bind_card_html = template('js-bind-card', {});
	
		//修改密码
		var modify_pwd_data = {
			main: [
				{
					label: '店员姓名',
					type: 'text',
					placeholder: '姓名',
					isRequire: false, //必填
					isReadonly: true,
					value: '王二'
				},
				{
					label: '店员账号',
					type: 'tel',
					placeholder: '请输入店员的手机号',
					isRequire: false,
					isReadonly: true,
					value: '1212'
				},
				{
					label: '提现密码',
					type: 'password',
					placeholder: '请输入提现密码',
					isRequire: false,
					isPwd: true
				},
				{
					label: '新 密 码',
					type: 'password',
					placeholder: '请输入新的店员密码',
					isRequire: false,
					isPwd: true
				}
			]
		}
		var modify_pwd_html = template('js-modify-pwd',modify_pwd_data);

		var list = function () { 
			document.getElementById('content').innerHTML = clerk_list_html;
			moveDel();
			$(".list_item_edit").click(function(){
				var id = $(this).attr('data-id');
				window.location.href = "#/editList/"+id;
			});
			$(".list_item_del").click(function(){
				showMsg("删除店员后，该账号将无法再登录，<br>且不能以同样的账号再添加店员，<br>确认删除吗？",2);
				user_id = $(this).parent();
				$('#js_del').click(function(e){
			       e.stopPropagation();
					user_id.remove();
				});
			});
		};

		var details = function () { 
			document.getElementById('content').innerHTML = clerk_details_html;
			$('#masonny-div').infinitescroll({
	            navSelector  : "#navigation",   // 页面分页元素(成功后会被隐藏)
	            nextSelector : "#navigation a", // 需要点击的下一页链接，和2的html要对应
	            itemSelector : ".clerk-details-list"  , // ajax回来之后，每一项的selecter
	                                      //（比如每篇文章都有item这个class）
	            debug: true, //启用调试信息
	            animate: false, //当有新数据加载进来的时候，页面是否有动画效果，默认没有
	            extraScrollPx: 150, //滚动条距离底部多少像素的时候开始加载，默认150
	            bufferPx: 40, //载入信息的显示时间，时间越大，载入信息显示时间越短
	            errorCallback: function(errorType) {
	            	if( errorType === 'done'){

	            		//TODO 
	            		// finish 
	            	}
	                // alert('error:'+errorType);
	            }, //当出错的时候，比如404页面的时候执行的函数
	            localMode: true, //是否允许载入具有相同函数的页面，默认为false
	            dataType: 'json',//可以是json
				template: function(data) {
				//data表示服务端返回的json格式数据，这里需要把data转换成瀑布流块的html格式，然后返回给回到函数
					// return data;
					var html = template('js-clerk_details_list',data);
					document.getElementById('masonny-div').innerHTML += html;
               	},
	            loading: {
	                img: "img/loading.gif",
	                msgText: "",
	                finishedMsg: '没有更多记录了',
	                selector: '.loading' // 显示loading信息的div
	            }
	        },function(newElems) {
	            //程序执行完的回调函数
	        })

	        //打开 actionSheet
	        var mask = $('#mask');
            var weuiActionsheet = $('#weui_actionsheet');

            $("#js-ico-setup").click(function(){
            	showActionSheet();
            });

            function showActionSheet(){
            	weuiActionsheet.addClass('weui_actionsheet_toggle');
	            mask.show().focus()//加focus是为了触发一次页面的重排(reflow or layout thrashing),使mask的transition动画得以正常触发
	                .addClass('weui_fade_toggle').one('click', function () {
		                hideActionSheet(weuiActionsheet, mask);
		            });
        	}
            $('#actionsheet_cancel').on('click', function () {
                hideActionSheet(weuiActionsheet, mask);
            });
            
            function hideActionSheet(weuiActionsheet, mask) {
                weuiActionsheet.removeClass('weui_actionsheet_toggle');
                mask.hide().removeClass('weui_fade_toggle');
            }

            $("#js-del-clerk").click(function(){
                hideActionSheet(weuiActionsheet, mask);
            	showMsg("删除店员后，该账号将无法再登录，<br>且不能以同样的账号再添加店员，<br>确认删除吗？",2)
            });
		};

		var add = function() {
			document.getElementById('content').innerHTML = add_clerk_html;
		}

		var editInfo = function(){
			document.getElementById('content').innerHTML = edit_info_html;
		}

		var editList = function(id){
			//修改店员信息
			var list = clerk_list_data.section[0].list;
			var edit_list_data = {
				isBound: list[id].isBound
			}
			var edit_list_html =  template('js-edit-list', edit_list_data);
			document.getElementById('content').innerHTML = edit_list_html;
		}

		var bindCard  = function(){
			document.getElementById('content').innerHTML = bind_card_html;
		}

		var modifyPwd = function(){
			document.getElementById('content').innerHTML = modify_pwd_html;
		}

		// 路由配置
		var routes = {
			'/list': list,
			'/details': details,
			'/add': add,
			'/editInfo': editInfo,
			'/editList/:id': editList,
			'/bindCard': bindCard,
			'/modifyPwd': modifyPwd,
		}
		var router = Router(routes);

		router.init(['/list']);
	
	    function hideMsg(){
	    	$('#js_muck').hide();
	    	$('li a').removeClass('on').css({'-webkit-transform':'translate3d(0,0,0)','-webkit-transition':'all .2s ease'});
	    }
	    $('#js_closeMsg').click(hideMsg);

	    // $('body').click(function(){
	    // 	$('li a').removeClass('on').css({'-webkit-transform':'translate3d(0,0,0)','-webkit-transition':'all .2s ease'});
	    // })
	    $('#js_add_user').click(function(){
	    	if($('#list li').length >= 2 ) {
	    		showMsg('开通VIP，拥有更多帐号特权喔！',1,'马上开通');
	    	}else {
	    		// window.location= ''
	    	}
	    });
	    function showMsg(msg,length,btnName){
	    	$('#js_muck').show();
	    	$('#single_btn,#double_btn').hide();
	    	if(length == 1){
		    	$('#single_btn').show();
		    	$('#single_btn .btn-normal').text(btnName);
	    	}
	    	if(length == 2){
		    	$('#double_btn').show();
	    	}
	    	$('#msg').html(msg);
	    }

	</script>
</body>
</html>